---
import { getDocsSummary } from '#lib/docsPost.ts'
import type { Locale } from '#lib/i18n/index.ts'
import Search from './Search.astro'

export type Props = { locale: Locale; currentSlug: string }
const { locale, currentSlug } = Astro.props
const summary = await getDocsSummary(locale)
---

<aside
	class="bg-base-100 sticky top-[var(--header-height)] left-0 flex h-[calc(100dvh_-_var(--header-height))] w-2xs flex-col gap-6 border-r border-gray-200 pt-8 dark:border-gray-700"
>
	<div class="shrink-0 ps-8">
		<Search />
	</div>
	<ul class="h-full min-h-0 grow space-y-4 overflow-auto px-8 pb-12">
		{
			summary.map(([category, items]) => (
				<li>
					<span class="text-lg font-bold">{category}</span>
					<ul class="mt-1 space-y-1 ps-0.5">
						{items.map((el) => (
							<li>
								<a
									href={el.url}
									class:list={[
										'hover:text-accent',
										el.slug === currentSlug
											? 'text-accent underline'
											: 'text-gray-600 dark:text-gray-300',
									]}
								>
									{el.title}
								</a>
							</li>
						))}
					</ul>
				</li>
			))
		}
	</ul>
</aside>

<style>
	aside {
		/* height: calc(100dvh - var(--header-height)); */
	}
</style>
