---
import BaseLayout from '#layouts/Base.astro'
import { getDocStaticPaths } from '#lib/docsPost.ts'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = getDocStaticPaths('en') satisfies GetStaticPaths

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout>
	<h1>{post.data.title}</h1>

	<Content />
</BaseLayout>
