---
import '@fontsource-variable/pixelify-sans'
import '#style/index.css'
import Header from '#components/Header.astro'
import { getLocaleByPath } from '#lib/i18n/index.ts'

const locale = getLocaleByPath(Astro.url.pathname)
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Odycjs</title>
		<!-- Pagefind -->
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script is:inline src="/pagefind/pagefind-ui.js"></script>

		<!-- handle dark theme -->
		<script is:inline>
			const isDark = localStorage.getItem('theme') === 'dark'
			document.firstElementChild.classList.toggle('dark', isDark)
		</script>
	</head>
	<body class="dark:bg-gray-950 dark:text-gray-100">
		<Header />
		<slot />
	</body>
</html>
