---
import '@fontsource-variable/pixelify-sans'
import '#style/index.css'
import Header from '#components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Odycjs</title>
	</head>
	<Header />
	<slot />
</html>
