---
import BaseLayout from '#layouts/Base.astro'
import DocSummary from '#components/DocSummary.astro'
import type { Locale } from '#lib/i18n/index.ts'
import { getDocsPostSlug } from '#lib/docsPost.ts'
import type { CollectionEntry } from 'astro:content'
export type Props = {
	post: CollectionEntry<'docs'>
	locale: Locale
}
const { post, locale } = Astro.props
const { Content } = await post.render()
const currentSlug = getDocsPostSlug(post, locale)
---

<BaseLayout>
	<div class="flex">
		<DocSummary {locale} {currentSlug} />
		<main class="prose dark:prose-invert">
			<Content />
		</main>
	</div>
</BaseLayout>
