---
import BaseLayout from '#layouts/Base.astro'
import DocSummary from '#components/DocSummary.astro'
import type { Locale } from '#lib/i18n/index.ts'
import { getDocsPostSlug } from '#lib/docsPost.ts'
import type { CollectionEntry } from 'astro:content'
import TableOfContents from '#components/TableOfContents/index.astro'
export type Props = {
	post: CollectionEntry<'docs'>
	locale: Locale
}
const { post, locale } = Astro.props
const { Content, headings } = await post.render()
const currentSlug = getDocsPostSlug(post, locale)
---

<BaseLayout>
	<div class="flex gap-8">
		<DocSummary {locale} {currentSlug} />
		<main class="grow pt-8 pb-64" data-pagefind-body>
			<div class="prose dark:prose-invert">
				<h1 id="_top">{post.data.title}</h1>
				<Content />
			</div>
		</main>
		<div class="sticky top-[var(--header-height)] h-full w-xs">
			<TableOfContents {headings} />
		</div>
	</div>
</BaseLayout>

<style is:global>
	.prose > h2,
	.prose > h3 {
		scroll-margin-top: calc(var(--header-height) + 2rem);
	}
</style>
