@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-accent: var(--color-pink-500);
	--font-pixel: 'Pixelify Sans Variable', system-ui;
}

* {
	scrollbar-width: auto;
	scrollbar-color: var(--color-gray-400) transparent;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-gray-400);
}

@utility pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
