---
import BaseLayout from '../layouts/Base.astro'
import Counter from '../components/Counter.svelte'
---

<BaseLayout>
	<h1 class="text-2xl text-red-500">Odyc is fun</h1>
	<Counter client:idle />
</BaseLayout>
